<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6 main-col">
		<h1>THANKS FOR REGISTERING!</h1>
		<h5 class='email'>For any questions regarding the tournament, please contact Lauren Wade at <a href="mailto:laurenwade@archertravel.com">laurenwade@archertravel.com</a></h5>
	</div>
</div>